<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/kbroman.css" rel="stylesheet" type="text/css" media="all"> 
<!--     <link href="{{ ASSET_PATH }}/css/tibo.css" rel="stylesheet" type="text/css" media="all">
 -->
    <!-- Le fav and touch icons -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>
<!--  OK là on voit bien que navbar est associé aux liens de navigations et en entête de ce fichier, on peut voir les refs des CSS, il n'y a plus qu'à trouver ou changer les couleurs   -->
  <body>
    <div class="navbar">
<!--       Barre de navigation -->
      <div class="navbar-inner">
<!--         Intérieur de barre de navigation -->
        <div class="container-narrow">
<!--             container ici -->
<!--             <a class="brand" href="{{ site.navigationbar.link.path }}">{{ site.navigationbar.link.title }}</a>
            <a class="brand" href="{{ site.navigationbar.link2.path }}">{{ site.navigationbar.link2.title }}</a> -->
            {% for link in site.navigationbar %}
              <a class="brand" href="{{ link.path }}">{{ link.title }}</a>
            {% endfor %}
        </div>
      </div>
    </div>

<!--     <div class="container-narrow"> -->
          <div class="container-fluid">
<!--             I changed above
 -->
      
      <div class="row-fluid">
       <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'UE' "%}
                  {% for item in folder1 %}
                      {% if item.type == "main" %}
                           {%assign str = item.path%}
                           {%assign str2 = str|replace :".md" ,".html"%}
                           {% assign str3 = site.production_url | append:'/' | append: str2 %}
                          <li class="nav-header"><a href={{str3}}> {{item.title}} </a></li>
                     {% endif %}
              {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        
   <div class="span9">
      <div class="content">
        {{ content }}
        
        
       {% if page.title == "Recherche" %}

        
<!--         docid,halId_s,version_i,docType_s,citationFull_s,citationRef_s -->
 "Elias Ventre, Thibault Espinasse, Charles-Edouard Bréhier, Vincent Calvez, Thomas Lepoutre, et al.. Reduction of a stochastic model of gene expression: Lagrangian dynamics gives access to basins of attraction as cell types and metastabilty. 2021. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-03243421"">&#x27E8;hal-03243421&#x27E9;</a>",2021
<br><br> "Thibault Espinasse, Paul Rochet. A coupling of the spectral measures at a vertex. 2019. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-02107855"">&#x27E8;hal-02107855&#x27E9;</a>",2019
<br><br> "François Wahl, Thibault Espinasse. Simplex Regression: Multivariable parametric regression under shape constraints. 2018. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-01262601v4"">&#x27E8;hal-01262601v4&#x27E9;</a>",2018
<br><br> "Ulysse Herbach, Arnaud Bonnaffoux, Thibault Espinasse, Olivier Gandrillon. Inferring gene regulatory networks from single-cell data: a mechanistic approach. <i>BMC Systems Biology</i>, BioMed Central, 2017, 11 (1), pp.105. <a target=""_blank"" href=""https://dx.doi.org/10.1186/s12918-017-0487-0"">&#x27E8;10.1186/s12918-017-0487-0&#x27E9;</a>. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-01646910"">&#x27E8;hal-01646910&#x27E9;</a>","<i>BMC Systems Biology</i>, BioMed Central, 2017, 11 (1), pp.105. <a target=""_blank"" href=""https://dx.doi.org/10.1186/s12918-017-0487-0"">&#x27E8;10.1186/s12918-017-0487-0&#x27E9;</a>"
<br><br> "Yohann de Castro, Thibault Espinasse, Paul Rochet. Reconstructing undirected graphs from eigenspaces. <i>Journal of Machine Learning Research</i>, Microtome Publishing, 2017. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-01588125"">&#x27E8;hal-01588125&#x27E9;</a>","<i>Journal of Machine Learning Research</i>, Microtome Publishing, 2017"
<br><br> "Angélique Richard, Loïs Boullu, Ulysse Herbach, Arnaud Arnaud, Valérie Morin, et al.. Single-Cell-Based Analysis Highlights a Surge in Cell-to-Cell Molecular Variability Preceding Irreversible Commitment in a Differentiation Process. <i>PLoS Biology</i>, Public Library of Science, 2016, 14 (12), <a target=""_blank"" href=""https://dx.doi.org/10.1371/journal.pbio.1002585"">&#x27E8;10.1371/journal.pbio.1002585&#x27E9;</a>. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-01934489"">&#x27E8;hal-01934489&#x27E9;</a>","<i>PLoS Biology</i>, Public Library of Science, 2016, 14 (12), <a target=""_blank"" href=""https://dx.doi.org/10.1371/journal.pbio.1002585"">&#x27E8;10.1371/journal.pbio.1002585&#x27E9;</a>"
<br<br> "Thibault Espinasse, Nadine Guillotin-Plantard, Philippe Nadeau. A combinatorial approach to a model of constrained random walkers. <i>Combinatorics, Probability and Computing</i>, Cambridge University Press (CUP), 2016, 25 (2), pp.222-235. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-00950845"">&#x27E8;hal-00950845&#x27E9;</a>","<i>Combinatorics, Probability and Computing</i>, Cambridge University Press (CUP), 2016, 25 (2), pp.222-235"
<br><br> "Thibault Espinasse, Jean-Michel Loubes. A Kriging procedure for processes indexed by graphs. <i>Statistical Inference for Stochastic Processes</i>, Springer Verlag, 2016, 19 (2), pp.159-173. <a target=""_blank"" href=""https://dx.doi.org/10.1007/s11203-015-9128-7"">&#x27E8;10.1007/s11203-015-9128-7&#x27E9;</a>. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-01014022"">&#x27E8;hal-01014022&#x27E9;</a>","<i>Statistical Inference for Stochastic Processes</i>, Springer Verlag, 2016, 19 (2), pp.159-173. <a target=""_blank"" href=""https://dx.doi.org/10.1007/s11203-015-9128-7"">&#x27E8;10.1007/s11203-015-9128-7&#x27E9;</a>"
<br><br> "Thibault Espinasse, Paul Rochet. Relations between connected and self-avoiding walks in a digraph. 2015. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-01153191v2"">&#x27E8;hal-01153191v2&#x27E9;</a>",2015
<br><br> "Emmanuel Boissard, Serge Cohen, Thibault Espinasse, James Norris. Diffusivity of a random walk on random walks. <i>Random Structures and Algorithms</i>, Wiley, 2015, 47 (2), pp.267-283. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-01974253"">&#x27E8;hal-01974253&#x27E9;</a>","<i>Random Structures and Algorithms</i>, Wiley, 2015, 47 (2), pp.267-283"
<br><br> "Flavia Barsotti, Yohann de Castro, Thibault Espinasse, Paul Rochet. Estimating the transition matrix of a Markov chain observed at random times. <i>Statistics and Probability Letters</i>, Elsevier, 2014, 94, <a target=""_blank"" href=""https://dx.doi.org/10.1016/j.spl.2014.07.009"">&#x27E8;10.1016/j.spl.2014.07.009&#x27E9;</a>. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-00986360"">&#x27E8;hal-00986360&#x27E9;</a>","<i>Statistics and Probability Letters</i>, Elsevier, 2014, 94, <a target=""_blank"" href=""https://dx.doi.org/10.1016/j.spl.2014.07.009"">&#x27E8;10.1016/j.spl.2014.07.009&#x27E9;</a>"
<br><br> "Thibault Espinasse, Fabrice Gamboa, Jean-Michel Loubes. Parametric estimation for Gaussian fields indexed by graphs. <i>Probability Theory and Related Fields</i>, Springer Verlag, 2014, 159 (1-2), pp.117-155. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-01980655"">&#x27E8;hal-01980655&#x27E9;</a>","<i>Probability Theory and Related Fields</i>, Springer Verlag, 2014, 159 (1-2), pp.117-155"
<br><br> "Emmanuel Boissard, Serge Cohen, Thibault Espinasse, James Norris. Diffusivity of a random walk on random walks. 2012. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-00742938"">&#x27E8;hal-00742938&#x27E9;</a>",2012
<br><br> "Thibault Espinasse, Paul Rochet. A Cramér-Rao inequality for non-differentiable models. <i>Comptes Rendus. Mathématique</i>, Centre Mersenne (2020-..) ; Elsevier Masson (2002-2019), 2012, 350 (13-14), pp.711-715. <a target=""_blank"" href=""https://dx.doi.org/10.1016/j.crma.2012.08.005"">&#x27E8;10.1016/j.crma.2012.08.005&#x27E9;</a>. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-00933563"">&#x27E8;hal-00933563&#x27E9;</a>","<i>Comptes Rendus. Mathématique</i>, Centre Mersenne (2020-..) ; Elsevier Masson (2002-2019), 2012, 350 (13-14), pp.711-715. <a target=""_blank"" href=""https://dx.doi.org/10.1016/j.crma.2012.08.005"">&#x27E8;10.1016/j.crma.2012.08.005&#x27E9;</a>"
<br><br> "Thibault Espinasse, Fabrice Gamboa, Jean-Michel Loubes. Estimation error for blind Gaussian time series prediction. 2011. <a target=""_blank"" href=""https://hal.archives-ouvertes.fr/hal-00451645v2"">&#x27E8;hal-00451645v2&#x27E9;</a>",2011

        
        {% endif %}
        
          {% if page.title == "Enseignements" %}
<!--             DANS LA PAGE ENSEIGNEMENT ON BOUCLE SUR LES PAGES DE COURS         -->
        <h4> Listes enseignements </h4>
            {% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'UE' "%}
                  {% for item in folder1 %}
                      {% if item.type == "main" %}
                           {%assign str = item.path%}
                           {%assign str2 = str|replace :".md" ,".html"%}
                           {% assign str3 = site.production_url | append:'/' | append: str2 %}
                          <br>
                        -  <a href="{{ str3 }}">{{item.title}}</a>
                          <br>
                       {% endif %}
                  {% endfor %}
        
        
          {% endif %}
        
        
        
          </div><!--/span-->
        </div><!-- row -->
      </div>
      <hr>
      <footer>
        <p><small>
<!-- start of Karl's footer; modify this part -->
<!--     <a href="https://creativecommons.org/publicdomain/zero/1.0/">  ... -->
<!--     <a href=" https://thibaultespinasse.github.io/home_page">T. Espinasse</a> -->
  <!-- end of Karl's footer; modify this part -->
        </small></p>
      </footer>

    </div>

<!--     {% include JB/analytics %} -->
  </body>
</html>
