<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/kbroman.css" rel="stylesheet" type="text/css" media="all"> 
<!--     <link href="{{ ASSET_PATH }}/css/tibo.css" rel="stylesheet" type="text/css" media="all">
 -->
    <!-- Le fav and touch icons -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>
<!--  OK là on voit bien que navbar est associé aux liens de navigations et en entête de ce fichier, on peut voir les refs des CSS, il n'y a plus qu'à trouver ou changer les couleurs   -->
  <body>
    <div class="navbar">
<!--       Barre de navigation -->
      <div class="navbar-inner">
<!--         Intérieur de barre de navigation -->
        <div class="container-narrow">
<!--             container ici -->
<!--             <a class="brand" href="{{ site.navigationbar.link.path }}">{{ site.navigationbar.link.title }}</a>
            <a class="brand" href="{{ site.navigationbar.link2.path }}">{{ site.navigationbar.link2.title }}</a> -->
            {% for link in site.navigationbar2 %}
              <a class="brand" href="{{ link.path }}">{{ link.title }}</a>
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="container-narrow">
      
      
      <div class="row-fluid">
       <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      
      
   <div class="span9">
      <div class="content">
        {{ content }}
          {% if page.title == "Enseignements" %}
<!--             DANS LA PAGE ENSEIGNEMENT ON BOUCLE SUR LES PAGES DE COURS         -->
        <h4> Listes enseignements </h4>
            {% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'UE' "%}
                  {% for item in folder1 %}
                      {% if item.type == "main" %}
                           {%assign str = item.path%}
                           {%assign str2 = str|replace :".md" ,".html"%}
                           {% assign str3 = site.production_url | append:'/' | append: str2 %}
                          <br>
                        -  <a href="{{ str3 }}">{{item.title}}</a>
                          <br>
                       {% endif %}
                  {% endfor %}
        
        
          {% endif %}
        
        
        
          </div><!--/span-->
        </div><!-- row -->
      </div>
      <hr>
      <footer>
        <p><small>
<!-- start of Karl's footer; modify this part -->
<!--     <a href="https://creativecommons.org/publicdomain/zero/1.0/">  ... -->
<!--     <a href=" https://thibaultespinasse.github.io/home_page">T. Espinasse</a> -->
  <!-- end of Karl's footer; modify this part -->
        </small></p>
      </footer>

    </div>

<!--     {% include JB/analytics %} -->
  </body>
</html>
