<div class="page-header">
  <h2>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h2>
</div>

{% if page.type == "main" %}
<br>
CECI NE DEVRAIT S'AFFICHER QUE SUR LES PAGES DE COURS
<br>
<h3> TD  </h3>
<!-- {% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'UE' "%} -->
 Liste :    {% for item in site.pages %}
        <br> {{site.pages}}<br>
           {% if item.type == "TD" %}
            {%assign str = item.path |replade : ".md", ".html"%}
          -  <a href="{{ item.path }}">{{item.title}}</a>
           <br>
            {% endif %}
    {% endfor %}
{% endif %}
<br>
<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
